<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>App MERT | TASK MANAGEMENT</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/css/_all-skins.min.css">
    <link href="/css/bootselect.css" rel="stylesheet">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
<header class="main-header">
		<!-- Logo -->
		<a th:href="@{/home}" class="logo">
			<span class="logo-mini"><b>H</b>RS</span>
			<span class="logo-lg" th:utext="${auth.role.role}"> </span>

		</a>
		<nav class="navbar navbar-static-top">
			<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>

			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
	
					<li class="dropdown user user-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<img src="/images/avatar5.png" class="user-image" alt="User Image">
							<span class="hidden-xs" th:utext="${auth.name}"></span>
						</a>
						<ul class="dropdown-menu">
							<li class="user-header">
								<img src="/images/avatar5.png" class="img-circle" alt="User Image">

								<p>
									<span class="hidden-xs" th:utext="${auth.name}"></span>
									<small><span class="hidden-xs" th:utext="${auth.email}"></span></small>
								</p>
							</li>
							<li class="user-footer">
								<div class="pull-left">
									<a th:href="@{/myprofile/inf}" class="btn btn-primary btn-flat">Профиль</a>
								</div>
								<div class="col-xs-offset-1 col-xs-4 text-center">
									<a  th:href="@{/myprofile/change_password(id=${auth.id})}"><i class="fa fa-gears"></i> Изменить пароль</a>
								</div>
								<div class="pull-right">
									<a th:href="@{/logout}" class="btn btn-danger btn-flat">Выйти</a>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</header>
    		<aside class="main-sidebar">
		<section class="sidebar">
			<ul class="sidebar-menu">
				<li class="treeview">
					<a th:href="@{/home}">
						<i class="fa fa-home text-yellow"></i> <span>Домой</span>
						<span class="pull-right-container">
            </span>
					</a>
				</li>
				<li th:if="${control != 'ADMIN'}" class="treeview">
					<a th:href="@{/myprofile/mytasks(id=${auth.id})}">
						<i class="fa fa-file-text text-green"></i> <span>Мои задачи</span>
						<span class="pull-right-container">
            </span>
					</a>
				</li>
				<li th:if="${control != 'ADMIN'}" class="treeview">
					<a th:href="@{/myprofile/inf}">
						<i class="fa fa-gears text-blue"></i> <span>Настройки профиля</span>
						<span class="pull-right-container">
            </span>
					</a>
				</li>
				   <li class="treeview">
                    <a th:href="@{/users/all}">
                        <i class="fa fa-users text-green"></i>
                        <span>Личный состав</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>          
                    </a>
                    	<ul class="treeview-menu">
						<li th:if="${control == 'ADMIN'}" class="treeview">
					<a href="#">
						<i class="fa fa-odnoklassniki text-blue"></i>
						<span>Преподовательский <br>состав</span>
						<span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
					</a>
					<ul class="treeview-menu">
						<li><a th:href="@{/admin/teachers/new}"><i class="fa fa-plus"></i> Добавить</a></li>
						<li><a th:href="@{/admin/teachers/all}"><i class="fa fa-eye"></i> Посмотреть</a></li>
					</ul>
				</li>	
				<li th:if="${control == 'ADMIN'}" class="treeview">
					<a href="#">
						<i class="fa fa-odnoklassniki text-blue"></i>
						<span>HR отдел</span>
						<span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
					</a>
					<ul class="treeview-menu">
						<li><a th:href="@{/admin/departments/new}"><i class="fa fa-plus"></i> Добавить</a></li>
						<li><a th:href="@{/admin/departments/all}"><i class="fa fa-eye"></i> Посмотреть</a></li>
					</ul>
				</li>
					<li th:if="${control == 'ADMIN'}" class="treeview">
					<a href="#">
						<i class="fa fa-odnoklassniki text-blue"></i>
						<span>Библиотека</span>
						<span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
					</a>
					<ul class="treeview-menu">
						<li><a th:href="@{/admin/librarys/new}"><i class="fa fa-plus"></i> Добавить</a></li>
						<li><a th:href="@{/admin/librarys/all}"><i class="fa fa-eye"></i> Посмотреть</a></li>
					</ul>
				</li>	
				<li th:if="${control == 'ADMIN'}" class="treeview">
					<a href="#">
						<i class="fa fa-odnoklassniki text-blue"></i>
						<span>IT отдел</span>
						<span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
					</a>
					<ul class="treeview-menu">
						<li><a th:href="@{/admin/its/new}"><i class="fa fa-plus"></i> Добавить</a></li>
						<li><a th:href="@{/admin/its/all}"><i class="fa fa-eye"></i> Посмотреть</a></li>
					</ul>
				</li>	
					</ul>
                </li>
					
						
				
					
				<li th:if="${control == 'ADMIN'}" class="treeview">
					<a href="#">
						<i class="fa fa-files-o text-purple"></i>
						<span>Приказы</span>
						<span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
					</a>
					<ul class="treeview-menu">
							<li th:if="${control == 'ADMIN'}" class="treeview">
					<a href="#">
						<i class="fa fa-files-o text-purple"></i>
						<span>Добавить приказы</span>
						<span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
					</a>
					<ul class="treeview-menu">
						<li><a th:href="@{/admin/tasks/new}"><i class="fa fa-plus"></i> Новый приказ</a></li>
						<li><a th:href="@{/admin/tasks/all}"><i class="fa fa-file-text"></i> Посмотреть приказы</a></li>
					</ul>
					</li>
							<li th:if="${control == 'ADMIN'}" class="treeview">
					<a href="#">
						<i class="fa fa-laptop text-red "></i>
						<span>Приказ для сотрудника</span>
						<span class="pull-right-container">
              <i class="fa fa-angle-left pull-right "></i>
            </span>
					</a>
					<ul class="treeview-menu">
						<li><a th:href="@{/admin/user-task/new}"><i class="fa fa-laptop"></i> Назначить приказ</a>
						</li>
						<li><a th:href="@{/admin/user-task/all}"><i class="fa fa-files-o"></i> Приказы сотрудника</a></li>
					</ul>
				</li>
					</ul>
				</li>
			</ul>
		</section>		
	</aside>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
        </section>
        <section class="content">
            <div th:if="${mode == 'MODE_ALL'}">
                <section class="content-header">
                    <h1>
                        ПРИКАЗЫ ДЛЯ СОТРУДНИКА                       
                    </h1>
                </section>
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>Сотрудник</th>
                                            <th>Приказ</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="usertask : ${user_tasks}">
                                            <td th:text="${usertask.user.name}"></td>
                                            <td th:text="${usertask.task.name}"></td>
                                            <td><a
                                                    th:href="@{/admin/user-task/update(id=${usertask.id})}"><span
                                                    class="glyphicon glyphicon-pencil"></span> ИЗМЕНИТЬ</a></td>
                                            <td><a
                                                    th:href="@{/admin/user-task/delete(id=${usertask.id})}"><span
                                                    class="glyphicon glyphicon-trash"></span> УДАЛИТЬ</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div th:if="${mode == 'MODE_UPDATE'}">
                <div class="container">
                    <div class="row">
                        <form autocomplete="off" action="#"
                              th:action="@{/admin/user-task/save}" action="#"
                              th:object="${user_task}" method="post" class="form-horizontal"
                              role="form">
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Изменить назначиние приказа</legend>
                                <!-- Text input-->
                                <input type="hidden" name="id" th:field="${user_task.id}" />

                                <div class="form-group">
                                    <label class="col-md-4 control-label">Сотрудник</label>
                                    <div class="col-md-3 text-left">
                                        <input type="hidden" th:field="${user_task.user.id}"
                                               placeholder="user" class="form-control" /> <input type="text"
                                               th:field="${user_task.user.name}" placeholder="user"
                                               class="form-control" disabled />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label">Приказ</label>
                                    <div class="col-md-4 text-left">
                                        <select class="selectpicker" data-live-search="true"
                                                th:title="${user_task.task.name}" name="task" tabindex="-98">

                                            <option th:each="task: ${tasks}" th:value="${task.id}"
                                                    th:if="${user_task.task.id} == ${task.id}" selected="selected"  th:text="${task.name}"></option>
                                            <option th:each="task: ${tasks}" th:value="${task.id}"
                                                    th:if="${user_task.task.id} != ${task.id}"  th:text="${task.name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Button (Double) -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="submitButton"></label>
                                    <div class="col-md-8">
                                        <button type="submit" id="submitButton" name="submitButton"
                                                class="btn btn-success">Сохранить</button>
                                        <button type="button" class="btn btn-inverse"
                                                onclick="window.history.back()">Отменить</button>
                                    </div>

                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div th:if="${mode == 'MODE_NEW'}">
                <div class="container">
                    <div class="row">
                        <form autocomplete="off" action="#"
                              th:action="@{/admin/user-task/save}" action="#"
                              th:object="${user_task}" method="post" class="form-horizontal"
                              role="form">
                            <fieldset>
                                <legend>Назначить приказ</legend>
                                <!-- Text input-->
                                <input type="hidden" name="id" th:field="${user_task.id}" />
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Сотрудник</label>
                                    <div class="col-md-4 text-left">
                                        <select class="selectpicker" data-live-search="true"
                                                title="Сотрудник" name="user" tabindex="-98">

                                            <option th:each="user: ${users}" th:value="${user.id}"
                                                    th:text="${user.name}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-4 control-label">Приказ</label>
                                    <div class="col-md-4 text-left">
                                        <select class="selectpicker" data-live-search="true"
                                                title="Приказ" name="task" tabindex="-98">
                                            <option th:each="task: ${tasks}" th:value="${task.id}"
                                                    th:text="${task.name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="submitButton"></label>
                                    <div class="col-md-8">
                                        <button type="submit" id="submitButton" name="submitButton"
                                                class="btn btn-success">Save</button>
                                        <button type="button" class="btn btn-inverse"
                                                onclick="window.history.back()">Cancel</button>
                                    </div>

                                </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
         </section>>
    </div>
</div>
<script src="/js/jquery-2.2.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script src="/js/fastclick.js"></script>
<script src="/js/app.min.js"></script>
<script src="/js/demo.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/dataTables.bootstrap.min.js"></script>

<script>
    $(function () {
        $('#example1').DataTable({
            "ordering": false
        });
        $('#table2').DataTable();
    });
</script>
</body>
</html>
